.Main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  max-width: 90%;
  width: 100%;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 7px;
  width: 60%;
  align-self: center;
}

button {
  border: none;
  background-color: white;
  padding: .5rem;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

h2 {
  margin: 3rem 0 2rem 0;
}

.reg {
  padding-top: 3rem;
}

.b-container {
  margin-top: 2rem;
}