@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cover-center-no-repeat-url-("/../public/background.jpg");
    @apply bg-[ababab] text-[#000000] tracking-wide;
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply shadow-xl shadow-[#7c7c7c] rounded-xl uppercase bg-gradient-to-r from-[#7c7c7c] to-[#ababab] text-[#fff] font-bold tracking-widest;
  }
}
